@page
@model RazorPageSample.Pages.Club.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @*Spaltennamen angezeigt. Meist der Name von der Variable*@
                @Html.DisplayNameFor(model => model.Clubs[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs[0].FoundingYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs[0].TransferBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs[0].ArenaCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs[0].ArenaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clubs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundingYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArenaCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArenaName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
